* {
    animation: 0 !important;
    transition: none !important;
}

.p-tab_rail {
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.p-tab_rail, .p-client_workspace {
    border-top: 1px solid rgba(255, 255, 255, .1);
}

.p-ia4_client .p-client_workspace__layout {
    box-shadow: none;
    border-radius: 0;
}

.p-ia4_sidebar_header {
    display: none;
}

.p-theme_background {
    background: #3f103f;
}

.p-ia4_client .p-view_contents--sidebar.p-view_contents--channel-list-pry {
    /*background-color: rgba(255,255,255,.95);*/
    background-color: #3f103f;
}

.p-tab_rail, .p-control_strip {
    width: 56px;
}

.p-workspace_switcher_prototype {
    width: 56px;
}

.p-ia4_client .p-client_workspace--including_tab_rail {
    grid-template-columns: 56px auto;
}

.p-channel_sidebar__static_list__item__row_container {
    padding: 0;
}

.p-channel_sidebar--iap1 .p-channel_sidebar__section_heading.p-channel_sidebar__section_heading_channels, .p-drag_layer .p-channel_sidebar__section_heading.p-channel_sidebar__section_heading_channels {
    padding: 0 8px;
}

.p-channel_sidebar__static_list__item__row_container {
    border-radius: 0 !important;
}

.p-channel_sidebar__static_list__item__row_container > * {
    border-radius: 0 !important;
}

.c-scrollbar__track {
    width: 4px;
}